<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwh.carsystem.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.zwh.carsystem.entity.Car">
    <id column="cartId" jdbcType="INTEGER" property="cartid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="isCheck" jdbcType="INTEGER" property="ischeck" />
    <result column="carNum" jdbcType="VARCHAR" property="carnum" />
    <result column="make" jdbcType="VARCHAR" property="make" />
  </resultMap>
  <sql id="Base_Column_List">
    cartId, userId, isCheck, carNum, make
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where cartId = #{cartid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where cartId = #{cartid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zwh.carsystem.entity.Car">
    insert into car (cartId, userId, isCheck, 
      carNum, make)
    values (#{cartid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{ischeck,jdbcType=INTEGER}, 
      #{carnum,jdbcType=VARCHAR}, #{make,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zwh.carsystem.entity.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartid != null">
        cartId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="ischeck != null">
        isCheck,
      </if>
      <if test="carnum != null">
        carNum,
      </if>
      <if test="make != null">
        make,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartid != null">
        #{cartid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=INTEGER},
      </if>
      <if test="carnum != null">
        #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="make != null">
        #{make,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zwh.carsystem.entity.Car">
    update car
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null">
        isCheck = #{ischeck,jdbcType=INTEGER},
      </if>
      <if test="carnum != null">
        carNum = #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="make != null">
        make = #{make,jdbcType=VARCHAR},
      </if>
    </set>
    where cartId = #{cartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zwh.carsystem.entity.Car">
    update car
    set userId = #{userid,jdbcType=INTEGER},
      isCheck = #{ischeck,jdbcType=INTEGER},
      carNum = #{carnum,jdbcType=VARCHAR},
      make = #{make,jdbcType=VARCHAR}
    where cartId = #{cartid,jdbcType=INTEGER}
  </update>
</mapper>